-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

.row
  -# 3カラムレイアウト
  .col-3.col-xl-3.d-none.d-sm-block
    -# ----------------------------
    -# left sidebar
    -# ----------------------------
    = render 'layouts/left-slide-bar'
  .col-12.col-xl-6.d-block.main.px-0
    .wrapper.col-12.px-0
      .look_at_syllabus
        .col-12.btn.syllabus-area.px-0
  .col-3.col-xl-3.d-none.d-sm-block
    -# ----------------------------
    -# right sidebar
    -# ----------------------------
    = render 'layouts/right-slide-bar'