* {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

/* Header */
.header {
  background: rgb(255, 255, 255);
  height: 80px;
}

/* side bar */
.left-slide-bar {
  border-right: 2px solid rgb(0, 0, 0);
}
.right-slide-bar {
  border-left: 2px solid rgb(0, 0, 0);
}

/* Body */
.link-style, .link-style:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.look_at_syllabus{
  width: 100%;
  height: 80vh;
}

.syllabus {
  border: 1px solid rgb(0, 0, 0);
  float: left;
}

.title {
  font-weight: bold;
}

.syllabus-area {
  margin-top: 100px;
  text-align: center;
}