/* Header */
.header {
  background: rgb(255, 255, 255);
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  height: 80px;
}

/* side bar */
.side-bar {
  float: left;
}

.side-btn {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(255, 153, 153);
  margin: 20px 0 0 20px;
}

/* Body */
.link-style, .link-style:hover {
  text-decoration: none;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.btn-eco-search {
  background-color: rgb(255,153,153);
}

.look_at_syllabus{
  width: 100%;
  height: 80vh;
  float: right;
  overflow: scroll;
}

.syllabus {
  display: inline-block;
  margin-top: 10px;
}

.title {
  font-weight: bold;
}

.syllabus-area {
  margin-top: 100px;
  text-align: center;
}

.new-syllabus {
  float: right;
}