/* Header */
.header {
  color: rgb(255, 255, 255);
  background: linear-gradient(-135deg, rgb(255,153,153), rgb(153, 65, 216));
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  height: 80px;
}