.left-slide-bar
  %button.btn.btn-warning
    %i.fa.fa-home
    = link_to 'Top', root_path, class: 'link-style'
  %button.btn.btn-primary
    %i.fa.fa-home
    = link_to 'Eco Link', new_school_path, class: 'link-style'
  %button.btn.btn-primary
    %i.fa.fa-home
    = link_to 'Home Page', new_school_path, class: 'link-style'
  %button.btn.btn-primary
    %i.fa.fa-home
    = link_to 'Tweet', new_school_path, class: 'link-style'