%nav.right-slide-bar.right-slide-bar.navbar-fixed-right.d-none.d-md-block.bg-light
  = form_tag schools_path, :method => 'get' do
    = text_field_tag :search, params[:search]
    = submit_tag 'search', :name => nil, class: 'btn btn-primary'
  -# %p © 2020. Made by Hikaru