%nav.col-md-2.sidebar.d-none.d-md-block.bg-light.side-bar
  .sidebar-stickey
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %button.side-btn
          %i.fa.fa-home.menu-icon
          = link_to 'ホーム', schools_path, class: 'nav-link link-style'
    %ul.nav.flex-colum.nav-sidebar
      %li.nav-item
        %button.side-btn
          %i.fa.fa-home.menu-icon
          = link_to 'New', new_school_path, class: 'link-style'
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %button.side-btn
          %i.fa.fa-user-cog.menu-icon
          = link_to '設定', schools_path, class: 'nav-link link-style'
    %hr/
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %button.btn.btn-secondary
          %i.fa.fa-paper-plane
          = link_to 'お問い合わせ', schools_path, class: 'nav-link link-style'
